* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* General styles*/

html {
    Font-Family: 'PT Sans', Sans-Serif;
}

h1 {
    Font-Size: 46px;
}

@media only screen and (max-width: 615px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
    }
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 21px;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 16px;
    color: #f7d360;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    margin-bottom: 2px;
    Font-Family: 'Playfair Display', Serif;
}

h5 {
    font-size: 38px;
    Font-Family: 'Cormorant Garamond', Serif;
}

h6 {
    opacity: 0.5;
    font-size: 14px;
    Font-Family: 'Fira Sans', Sans-Serif;
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 12px;
    }
    
    h5 {
        font-size: 32px;
    }

    h6 {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    color: black;
    Font-Family: 'Playfair Display', Serif;
}



/* Navigation */
    nav {
        height: 95px;
        display: flex;
        align-items: center;
        padding: 0 15%;
        border-bottom: black 2px solid;
        position: fixed;
        width: 100%;
        z-index: 2;
        background-color: white;
    }

    .logo {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .logo img {
        width: 62px;
        height: 62px;
        margin-right: 10px;
    }

    @media only screen and (max-width: 700px) {
        .logo h2 {
            display: none;
        }
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    @media only screen and (max-width: 999px) {
        li {
            display: none;
        }
    }

    button {
        padding: 13px 26px;
        border: 1px solid black;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        box-shadow: 0px 5px;
        background-color: #47B8FC;
        color: black;
        opacity: 0.9;
    }

    button:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity 250ms ease-in;
    }

    button:active {
        box-shadow: 0px 0px;
        margin-top: 5px;
        opacity: 1;
    }

/* Header */
    header {
        height: 600px;
        background-image: url(./images/hero-image.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        top: 97px;
    }

    @media only screen and (max-width: 760px) {
        header {
            height: 500px;
        }
    }

    @media only screen and (max-width: 615px) {
        header {
            height: 400px;
        }
    }

    @media only screen and (max-width: 500px) {
        header {
            height: 300px;
        }
    }

    header h1 {
        padding-top: 70px;
    }

    @media only screen and (max-width: 615px) {
        header h1 {
            padding-top: 40px;
        }
    }

    span {
        color: #FC5F61;
    }

    p {
        background-color: #f7d360;
        padding: 6px 10px;
        border: #FCFA53 1px solid;
        border-radius: 5px;
        position: relative;
        left: 65%;
        bottom: 20px;
        width: fit-content;
        transform: rotate(-30deg);
    }

    @media only screen and (max-width: 1370px) {
        p {
            transform: rotate(0deg);
            position: static;
            margin: 10px auto 0px auto;
        }
    }

    @media only screen and (max-width: 500px) {
        p {
            font-size: 0.8em;
        }
    }


/* Content */
    .content {
        width: 1000px;
        height: 750px;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(12, 1fr) / repeat(12, 1fr);
        grid-gap: 5px;
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
    }

    @media only screen and (max-width: 999px) {
        .content {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
        }

        .box {
            height: 300px;
        }

        .box .description {
            padding: 30px 20px;
        }

        .content .c {
          height: 200px;
        }
    }

    @media only screen and (max-width: 615px) {
        .content {
            top: 97px;
        }  
    }

    .a {
        grid-area: 1 / 1 / span 8 / span 4;
        background-image: url(./images/content/top-left.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .b {
        grid-area: 1 / 5 / span 4 / span 8;
        background-image: url(./images/content/top-right.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .c {
        grid-area: 5 / 5 / span 4 / span 4;
        background-color: #f7d360;
    }

    .c div {
        text-align: center;
        margin: auto;
    }

    .d {
        grid-area: 5 / 9 / span 8 / span 4;
        background-image: url(./images/content/bottom-right.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .e {
        grid-area: 9 / 1 / span 4 / span 8;
        background-image: url(./images/content/bottom-left.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .box:hover {
        box-shadow: 5px 5px #47B8FC;
        border: 2px solid black;
        transform: translate(-5px, -5px);
        transition: box-shadow 200ms ease-in,
                    border 200ms ease-in,
                    transform 200ms ease-in 300ms;
    }

    .description {
        background-color: #FC5F61;
        opacity: 0.9;  
        color: white;  
    }

    .horizontal {
        padding: 10px;
    }

    .vertical {
        padding: 10px;
    }

/* Authors */

